:root {
    /* カラーパレットの変数定義 */
    --main-color-1: rgb(0, 0, 132);         /* メインの色 */
    --main-color-2: rgb(36, 0, 255); /* メインの色 */
    --accent-color-1: rgb(251, 0, 111);     /* アクセントカラー */
    
    --sub-color-1: rgb(255, 255, 9);     /* 文字色1（メイン） */
    --black-color-1: rgb(0, 0, 0);         /* 文字色2（サブ） */
    --gray-color-1: rgb(110, 110, 110);   /* 文字色3（補助） */
    --white-color-1: rgb(255, 255, 255);   /* 文字色3（補助） */
    --header-font-size: 15px;
    --navi-font-size: 15px;
    --name-font-size: 10px;
}

/* PC向けのメディアクエリ (画面幅が1024px以上) */
@media screen and (min-width: 961px) {
    :root {
        --title-font-size: 30px;
        --subtitle-font-size: 25px;
        --body-font-size: 20px;
        --body2-font-size: 12px;
    }
}

/* タブレットやスマホ向けのメディアクエリ (画面幅が1024px未満) */
@media screen and (max-width: 960px) {
    :root {
        --title-font-size: 25px;
        --subtitle-font-size: 23px;
        --body-font-size: 18px;
        --body2-font-size: 10px;
    }
}


/* スマホ向けのメディアクエリ (画面幅が600px未満) */
@media screen and (max-width: 440px) {
    :root {
        --title-font-size: 20px;
        --subtitle-font-size: 15px;
        --body-font-size: 10px;
        --body2-font-size: 7px;
    }
}


body {
    font-family: Arial, sans-serif;
    overflow-y: scroll; /* スクロールバーが常に表示されるように設定 */
    background-color: var(--main-color-1); /* 全体の背景色を青にする */
    color: var(--sub-color-1);
    margin: 0;
    padding: 0;
    padding-top: 80px; /* ヘッダーとナビゲーションの高さ分のスペースを確保 */
}
h2 {
    font-size: var(--title-font-size); /* フォントサイズを指定 */
    font-weight: bold;
    color: var(--sub-color-1);
}

/* ボタンの共通スタイル */
.button-common {
    background-color: var(--accent-color-1); /* 背景色 */
    color: var(--white-color-1); /* テキストの色 */
    padding: 10px; /* パディング */
    margin: 10px 0; /* 上下に余白 */
    border: none; /* 枠線を消す */
    cursor: pointer; /* クリックできるようにカーソル変更 */
    width: 100%; /* 横幅を100%にして左右いっぱいに広げる */
    text-align: center; /* テキストを中央揃え */
    font-weight: bold; /* 太字に */
    font-size: var(--body-font-size); /* フォントサイズ */
    display: block;
    border-radius: 5px; /* 角を丸くする */
}
/* ボタンのスタイル */
.button-common2 {
    background-color: var(--accent-color-1); /* 背景色 */
    color: var(--white-color-1); /* テキストの色 */
    padding: 10px 10px; /* パディング */
    margin: 10px 0; /* 上下に余白 */
    border: none; /* 枠線を消す */
    cursor: pointer; /* クリックできるようにカーソル変更 */
    width: 100%; /* 横幅を100%にして左右いっぱいに広げる */
    text-align: center; /* テキストを中央揃え */
    font-weight: bold; /* 太字に */
    font-size: var(--body-font-size); /* フォントサイズ */
    display: block;
    border-radius: 0px; /* 角を丸くする */
}
/* ボタンのスタイル */
.button-common3 {
    background-color: var(--accent-color-1); /* 背景色 */
    color: var(--white-color-1); /* テキストの色 */
    padding: 0px 0px; /* パディング */
    margin: 0px 0; /* 上下に余白 */
    border: none; /* 枠線を消す */
    cursor: pointer; /* クリックできるようにカーソル変更 */
    width: 30%; /* 横幅を100%にして左右いっぱいに広げる */
    text-align: center; /* テキストを中央揃え */
    font-weight: bold; /* 太字に */
    font-size: var(--body-font-size); /* フォントサイズ */
    display: block;
    border-radius: 4px; /* 角を丸くする */
}

/* ホバー時のスタイル */
.button-common:hover {
    background-color: var(--accent-color-1); /* ホバー時の背景色 */
    color: var(--gray-color-1); /*  */
}
/* ホバー時のスタイル */
.button-common2:hover {
    background-color: var(--accent-color-1); /* ホバー時の背景色 */
    color: var(--gray-color-1); /*  */
}
/* ホバー時のスタイル */
.button-common3:hover {
    background-color: var(--accent-color-1); /* ホバー時の背景色 */
    color: var(--gray-color-1); /*  */
}

/* ボタンの共通スタイル */
.button-score {
    background-color: var(--accent-color-1); /* 背景色 */
    color: var(--white-color-1); /* テキストの色 */
    padding: 10px; /* パディング */
    border: none; /* 枠線を消す */
    cursor: pointer; /* クリックできるようにカーソル変更 */
    width: 20%; /* 横幅を100%にして左右いっぱいに広げる */
    text-align: center; /* テキストを中央揃え */
    font-weight: bold; /* 太字に */
    font-size: 10px; /* フォントサイズ */
    margin: 10px 0; /* 上下に余白 */
}


/* テーブルのスタイル */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* レコードテーブルのヘッダーのスタイル */
.table th {
    background-color: var(--main-color-2); /* ヘッダーの背景色を青に設定 */
    color: var(--white-color-1); /* ヘッダーの文字色を白に設定 */
    font-size: var(--body-font-size);
    font-weight: bold; /* ヘッダーの文字をボールドに設定 */
    border: 1px solid var(--main-color-1); /* 枠の色を濃い青に設定 */
    padding: 8px; /* セルのパディング */
    text-align: center; /* テキストを中央揃えに */
}

/* ヘッダー以外のセルのスタイル */
.table td {
    background-color: var(--white-color-1); /* 背景を白に */
    color: var(--main-color-1); /* 文字色を濃い青に */
    border: 1px solid var(--main-color-1); /* 枠の色を濃い青に設定 */
    padding: 8px;
    text-align: center; /* テキストを中央揃えに */
    font-size: var(--body-font-size);
}



/* 順位表全体のスタイル */
.table2 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* ヘッダー部分のスタイル */
.table2 th {
    background-color: var(--accent-color-1); /* ヘッダーの背景色をピンクに設定 */
    color: var(--white-color-1); /* ヘッダーの文字色を白に設定 */
    font-size: var(--body-font-size);
    font-weight: bold; /* ヘッダーの文字をボールドに設定 */
    border: 1px solid var(--main-color-1); /* 枠の色を濃い青に設定 */
    padding: 8px; /* セルのパディング */
    text-align: center; /* テキストを中央揃え */
}

/* ヘッダー以外のセルのスタイル */
.table2 td {
    background-color: var(--white-color-1); /* セルの背景色を白に */
    color: var(--main-color-1); /* セルの文字色を濃い青に */
    border: 1px solid var(--main-color-1); /* 枠線の色を濃い青に設定 */
    padding: 5px; /* セルのパディング */
    text-align: center; /* テキストを中央揃え */
    font-size: var(--body-font-size);
}

.table3 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* ヘッダー部分のスタイル */
.table3 th {
    background-color: var(--sub-color-1); /* ヘッダーの背景色をピンクに設定 */
    color: var(--main-color-1); /* ヘッダーの文字色を白に設定 */
    font-size: var(--body-font-size);
    font-weight: bold; /* ヘッダーの文字をボールドに設定 */
    border: 1px solid var(--main-color-1); /* 枠の色を濃い青に設定 */
    padding: 8px; /* セルのパディング */
    text-align: center; /* テキストを中央揃え */
}

/* ヘッダー以外のセルのスタイル */
.table3 td {
    background-color: var(--main-color-1); /* セルの背景色を白に */
    color: var(--sub-color-1); /* セルの文字色を濃い青に */
    border: 1px solid var(--sub-color-1); /* 枠線の色を濃い青に設定 */
    padding: 5px; /* セルのパディング */
    text-align: center; /* テキストを中央揃え */
    font-size: var(--body-font-size);
}
/* 
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
ヘッダーのスタイル 
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
*/
header {
    background-color: var(--main-color-1); /* 背景色 */
    color: var(--accent-color-1); /* テキスト色 */
    text-align: left;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 10%;
    padding-left: 0%; /* 左から20%の位置にテキストを配置 */
    position: fixed; /* スクロール時に画面上部に固定 */
    top: 0;
    width: 100%; /* 横幅を80%に設定し、左右に10%ずつ余白を設ける */
    left: 0%;
    z-index: 1000; /* 他の要素より上に表示するための設定 */
    font-size: var(--header-font-size);
    height: 40px; /* ヘッダーの高さを60pxに固定 */
    line-height: 0px; /* テキストをヘッダーの中央に配置するためのラインハイト */
}

/* 
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
ナビゲーションメニューのスタイル
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
*/
nav {
    position: fixed;
    top: 60px; /* ヘッダーの下に配置 */
    width: 100%; /* 横幅を80%に設定し、左右に10%ずつ余白を設ける */
    left: 0%;
    background-color: var(--main-color-2); /* ナビゲーションの背景色 */
    z-index: 999; /* ヘッダーのすぐ下に表示 */
    font-size: var(--navi-font-size);
}

nav ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    padding: 0px 10% 0px 10%;
    margin:  0px 0px 0px 0px;
    /* padding-left: 10%; 左から10%の位置にテキストを配置 */
}

nav ul li {
    margin: 0; /* ボタン間の隙間をなくす */
    padding: 0; /* 余白をなくす */
}

nav ul li a {
    color: var(--white-color-1); /* リンクのテキスト色 */
    text-decoration: none;
    padding: 10px 10px;
    margin: 0px 0px;
    display: block;
    font-weight: bold; /* 文字をボールドに設定 */
}

/* ホバー時と選択中のリンクのスタイルをまとめる */
nav ul li a:hover,
nav ul li a.active {
    background-color: var(--sub-color-1); /* 背景色 */
    color: var(--main-color-2); /* テキスト色 */
    font-weight: bold; /* ボールドに設定 */
}



/* 
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
各タブのコンテンツ
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
*/
.tabcontent {
    display: none;
    padding: 0px;
    margin-top: 40px; 
    /* ヘッダーとナビゲーションの高さ分の余白を追加 */
    width: 80%; 
    /* コンテンツの横幅を80%に設定 */
    margin-left: 10%; 
    /* 左右に10%ずつの余白を設定 */
}

/*
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
ホームタブのスタイル 
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
*/
/* チーム一覧を横並びにするスタイル */
.team-list {
    display: flex;
    justify-content: center;/*flex-start; /* 最終段を左寄せに変更 */
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

/* リストのデフォルトスタイルを無効にする */
.team-item ul {
    list-style-type: none; /* 箇条書きの丸を消す */
    padding: 0; /* 内側の余白を無効にする */
    margin: 0; /* 外側の余白を無効にする */
}

.team-item {
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column; /* 縦方向に要素を並べる */
    align-items: center; /* 要素を中央揃えに */
}

.team-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 0px;
}
.team-name-input {
    width: 100px; /* 入力欄の横幅をロゴに合わせる */
    padding: 0px; /* 入力欄にパディングを追加 */
    margin: 0px; /* ロゴと入力欄の間に余白を追加 */
    text-align: center; /* テキストを中央揃えに */
    border: 0px solid var(--main-color-1); /* 入力欄の枠線 */
    background-color: var(--main-color-1); /* 背景色 */
    color: var(--sub-color-1); /* 文字色 */
    font-size: var(--name-font-size);
    font-weight: bold;
}
.team-subname-input {
    width: 100px; /* 入力欄の横幅をロゴに合わせる */
    padding: 0px 0px 0px 0px; /* 入力欄にパディングを追加 */
    margin: 5px 0px 0px 0px; /* ロゴと入力欄の間に余白を追加 */
    text-align: center; /* テキストを中央揃えに */
    border: 0px solid var(--main-color-1); /* 入力欄の枠線 */
    background-color: var(--main-color-1); /* 背景色 */
    color: var(--sub-color-1); /* 文字色 */
    font-size: var(--subtitle-font-size);
    font-weight: bold;
}

/* 親要素の幅を設定 */
#teamForm {
    width: 100%; /* フォーム全体の横幅を100%に設定 */
}

.team-list {
    width: 100%; /* チームリストも横幅100%に */
}

.team-logo-button {
    background-color: transparent;
    border: none;
    padding: 0 10px 0;
    cursor: pointer;
}

.team-logo-button img {
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 5px;
}


/*
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
チーム戦績タブのスタイル 
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
*/

/* チーム戦績タブ全体のスタイル */
#teamPerformanceTab {
    padding: 0px;
    background-color: var(--main-color-1);
}

/* チーム名のヘッダーのスタイル */
/* #teamNameHeader { 
    text-align: center;
    margin-bottom: 0px;
}*/

/* チーム名のヘッダーを固定するスタイル */
/* ヘッダーの固定 */
.sticky-header {
    position: sticky;
    top: 102px;
    z-index: 990;
    background-color: var(--main-color-1); /* ヘッダーの背景色を変更 */
    color: var(--sub-color-1);; /* 文字色を白に設定 */
    padding: 10px;
    /* font-size: 24px; */
    text-align: center;
    /* border-bottom: 2px solid var(--main-color-2); 見やすくするためのボーダー */
}

/* 表タイトルの固定 */
.sticky-title {
    position: sticky;
    top: 144px; /* ヘッダーの高さを考慮 */
    z-index: 900;
    background-color: var(--main-color-1); /* ヘッダーの背景色を変更 */
    padding: 5px;
}

/* 表ヘッダーの固定 */
.sticky-table thead th {
    position: sticky;
    top: calc(144px + 37px); /* ヘッダーとタイトルの高さを考慮 */
    z-index: 800;
}

/* 表の固定要素に影を追加して視覚的区別 */
.sticky-header, .sticky-title, .sticky-table thead th {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.table-notes {
    font-size: 8px; /* 少し小さいフォントサイズ */
    margin-top: 10px;
    line-height: 1.5; /* 行間を少し広げる */
}



/*
===================================================================================================
===================================================================================================
日程表タブのスタイル 
===================================================================================================
===================================================================================================
*/
/* 日程タブ全体のスタイル */
#schedule {
    background-color: var(--main-color-1); /* タブ全体の背景色 */
    color: var(--sub-color-1); /* 文字色 */
    padding: 0%; /* 全体に余白を追加 */
}

/* スケジュールヘッダーのスタイル */
.schedule-header {
    text-align: center; /* タイトルを中央に配置 */
    padding: 0px 0;
}

.week-info {
    margin-bottom: 0px; /* ボタンとの間にスペースを追加 */
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0px; /* ボタンを左右に配置 */
}


/* 週情報のスタイル */
.schedule-header .week-info {
    text-align: center;
    font-size: var(--title-font-size);
    font-weight: bold;
    margin: 0;
}

/* 
===================================================================================================
試合日程パネルのスタイル 
===================================================================================================
*/
/* 各試合ごとのコンテナを定義。中に日程表とスタッツテーブルが含まれる */
.match-container {
    background-color: var(--white-color-1); /* パネルの背景色を白に設定 */
    /* border: 2px solid #ddd; パネルに薄いグレーの枠線を追加 */
    padding: 1%; /* パネル内に余白を追加 */
    display: flex; /* 横並びにするための設定 */
    justify-content: space-between; /* コンテンツを左右に配置 */
    margin-bottom: 20px; /* 次の試合のコンテナとの間に20pxの余白 */
    flex-wrap: wrap; /* 画面幅が狭いときは自動的に縦に並べる */
    align-items: flex-start; /* コンテンツを上揃えにする（高さを揃えない） */
}



/* 
---------------------------------------------------------------------------------------------------
日付とスコア，アシストゴール選手の表
---------------------------------------------------------------------------------------------------
*/
/* .match-table クラスは、各試合の表（ホームとアウェイのスコアを表示する表）に適用されます */
.match-table {
    width: 45%; /* 横幅 */
    margin: 0 5% 0 0; /* スタッツテーブルと日程表の間に2%の余白 */
    border-collapse: collapse; /* テーブルの境界線をまとめてすっきり表示 */
    background-color: var(--main-color-1); /* 日程表のセルの背景色 */
    color: var(--sub-color-1); /* 日程表の文字色 */
    border: 1px solid var(--main-color-1); /* テーブル全体の枠線の色 */
    font-size: var(--body2-font-size); /* フォントサイズを大きく設定 */
}

/* 一つ目の表のヘッダー（th）にだけスタイルを適用 */
.match-table th {
    font-weight: bold; /* ボールドに設定 */
    font-size: var(--subtitle-font-size); /* フォントサイズを大きく設定 */
    text-align: center; /* テキストを中央揃えにする */
    margin: 0px; 
    padding: 5px; /* セルのパディングを設定 */
    text-align: center; /* 入力内容を中央揃え */
    background-color: var(--main-color-1); /* 日程表のヘッダーセルの背景色 */
    color: var(--sub-color-1); /* ヘッダーセルの文字色 */
}

/* 2列目と4列目のセルの背景色を変更 */
.match-table th:nth-child(2), .match-table th:nth-child(4) {
    background-color: var(--sub-color-1); /* 背景色 */
    color: var(--main-color-1); /* ヘッダーセルの文字色 */
}

/* 日付フィールドのスタイル */
.match-table input[type="date"] {
    background-color: var(--sub-color-1); /* 背景色 */
    border: 0px solid var(--sub-color-1); /* 枠線の色 */
    color: var(--main-color-1); /* 文字色 */
    padding: 0px;
    margin: 0px;
    border-radius: 0px; /* 角を丸くする（オプション） */
    font-size: var(--body-font-size); /* 文字のサイズ */
}

.match-table td {
    border: 1px solid var(--main-color-1); /* セルの枠線の色 */
    padding: 5px; /* セルの余白 */
    background-color: var(--sub-color-1); /* セルの背景色 */
    color: var(--main-color-1); /* セル内の文字色 */
}

.match-table td:nth-child(2) {
    text-align: center;
}

/* テキストや数値入力欄のスタイル */
.match-table input[type="text"],.match-table input[type="number"]{
    width: 100%; /* 入力欄をセルの横幅いっぱいに */
    box-sizing: border-box; /* 境界線やパディングを含む要素の幅と高さ */
    background-color: var(--sub-color-1); /* 入力欄の背景色 */
    color: var(--main-color-1);/* 入力欄の文字色 */
    border: 0px solid var(--sub-color-1); /* 入力欄の枠線色 */
    margin: 0px;
    padding: 0px;
    border-radius: 0px; /* 入力欄の角を丸く */
    font-size: var(--body2-font-size); /* スコア入力欄のフォントサイズを調整 */
    font-weight: bold; /* 入力欄の文字を太字に */
}

.assist-player, .goal-player {
    font-weight: bold; /* 入力欄の文字を太字に */
    overflow-wrap: break-word;  /* ブラウザ互換性のために overflow-wrap を追加 */
    width: 100%;  /* ボックスの幅を最大に設定 */
}
/* スコア入力欄に特化したスタイルも追加 */
.match-table input[type="number"] {
    font-weight: bold; /* ボールドに設定 */
    font-size: var(--subtitle-font-size); /* スコア入力欄のフォントサイズを調整 */
    text-align: center; /* 入力内容を中央揃え */
}
/* 数字入力のカーソルが消える魔法 */
.match-table input[type="number"]::-webkit-outer-spin-button,
.match-table input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.match-table th:nth-child(1), .match-table th:nth-child(5) {
    width: 14.5%;
}

.match-table th:nth-child(2), .match-table th:nth-child(4) {
    width: 5%;
}

.match-table th:nth-child(3) {
    width: 6%;
}

/* 
---------------------------------------------------------------------------------------------------
スタッツテーブルのスタイル 
---------------------------------------------------------------------------------------------------
*/
/* スタッツテーブル全体のスタイル */
.stats-table {
    border-collapse: collapse; /* テーブルの境界線を統一 */
    width: 50%; /* テーブルを横幅100%に広げる */
    background-color: var(--main-color-1); /* スタッツ表のセルの背景色 */
    color: var(--sub-color-1); /* スタッツ表の文字色 */
    border: 1px solid var(--sub-color-1); /* テーブル全体の枠線の色 */
    margin-left: 0%; /* スタッツテーブルと日程表の間に2%の余白 */
    border-left: none; /* テーブル全体の左枠線を削除 */
    border-right: none; /* テーブル全体の右枠線を削除 */
    /* width: 400px;  */
    /* 横並びにするため、各テーブルの幅を40%に */
    /* margin-bottom: 0;  */
    /* テーブルの下の余白を削除 */
}


/* スタッツテーブルのセル内のスタイル */
.stats-table th, .stats-table td {
    padding: 0px; /* セル内のコンテンツに8pxの余白 */
    text-align: center; /* テキストを中央揃え */
    border: 1px solid var(--sub-color-1); /* セルの枠線の色 */
    font-weight: bold; /* ヘッダーのテキストを太字に */
    font-size: var(--body2-font-size); /* フォントサイズを大きく設定 */
    border-left: none; /* テーブル全体の左枠線を削除 */
    border-right: none; /* テーブル全体の右枠線を削除 */
}

/* スタッツ表のヘッダーセルのスタイル */
.stats-table th {
    background-color: var(--sub-color-1); /* スタッツ表のヘッダーセルの背景色 */
    color: var(--main-color-1); /* ヘッダーセルの文字色 */
}

/* スタッツ表の入力欄のスタイル */
.stats-table input[type="number"] {
    text-align: center; /* 入力欄のテキストを中央揃えに */
    width: 100%; /* 入力欄の幅をセル内で調整 */
    padding: 0px; /* 入力欄にパディングを追加 */
    box-sizing: border-box; /* パディングを幅に含むようにする */
    background-color: var(--main-color-1); /* 入力欄の背景色 */
    color: var(--sub-color-1); /* 入力欄の文字色 */
    border: 0px solid var(--main-color-1); /* 入力欄の枠線色 */
    padding: 0px;
    border-radius: 0px; /* 入力欄の角を丸く */
    font-weight: bold; /* 入力欄の文字を太字に */
    font-size: var(--body-font-size); /* フォントサイズを大きく設定 */
}
/* 数字入力のカーソルが消える魔法 */
.stats-table thead input[type="number"]::-webkit-outer-spin-button,
.stats-table thead input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 各列の幅を10%に設定 */
.stats-table td:nth-child(1),
.stats-table td:nth-child(2),
.stats-table td:nth-child(4),
.stats-table td:nth-child(5) {
    width: 8%; /* 各列を10%に固定 */
    max-width: 8%;
    box-sizing: border-box;
}
.stats-table td:nth-child(3) {
    width: 18%; /* 各列を10%に固定 */
    max-width: 18%;
    box-sizing: border-box;
}


/*
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
順位表のスタイル 
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
*/

/* 順位表全体のスタイル */
.standings-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}

/* ヘッダー部分のスタイル */
.standings-table th {
    background-color: var(--accent-color-1); /* ヘッダーの背景色をピンクに設定 */
    color: var(--white-color-1); /* ヘッダーの文字色を白に設定 */
    font-size: var(--body-font-size);
    font-weight: bold; /* ヘッダーの文字をボールドに設定 */
    border: 1px solid var(--main-color-1); /* ヘッダーの枠線の色を濃い青に設定 */
    padding: 5px 7px; /* セルのパディング */
    text-align: center; /* テキストを中央揃え */
}

/* ヘッダー以外のセルのスタイル */
.standings-table td {
    background-color: var(--white-color-1); /* セルの背景色を白に */
    color: var(--main-color-1); /* セルの文字色を濃い青に */
    border: 1px solid var(--main-color-1); /* 枠線の色を濃い青に設定 */
    padding: 5px; /* セルのパディング */
    text-align: center; /* テキストを中央揃え */
}

/* 順位変動の列の幅
.standings-table td.rank-change {
    width: 30px;
} */

/* 3列目をボールドに設定 */
.standings-table td:nth-child(3) {
    font-weight: bold; /* 3列目の文字をボールドに */
}

/* 1列目のヘッダー以外のセルを右寄せに設定 */
.standings-table td:nth-child(1) {
    text-align: right; /* 左列のヘッダー以外のセルを右揃えに */
    min-width: 40px; /* 2文字が収まるように最低幅を40pxに設定 */
    /* white-space: nowrap; 折り返しを防ぐ */
}

/* 順位変動の矢印のスタイル */
.rank-up {
    color: #32CD32; /* 黄緑色 */
    font-weight: bold;
}

.rank-down {
    color: #FF0000; /* 赤色 */
    font-weight: bold;
}

.rank-no-change {
    color: #808080; /* グレー */
    font-weight: bold;
}


/* 
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
個人戦績タブ 
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------
*/

.chart-container {
    align-items: center;
    background-color: var(--white-color-1); /* 背景色を白に設定 */
    padding: 0px; /* コンテナの内側の余白を設定 */
    border: 0px solid var(--white-color-1); /* 枠線の追加 */
    border-radius: 0px; /* 角を丸く */
}



/* スマホ向けのメディアクエリ (画面幅が600px未満) */
@media screen and (max-width: 850px) {
    .match-container {
        flex-direction: column; /* 横並びから縦並びに変更 */
        align-items: stretch; /* 幅を親要素いっぱいに */
    }

    .match-table, .stats-table {
        width: 100%; /* テーブルを画面幅いっぱいに */
        margin-right: 0; /* 右側の余白を削除 */
        margin-bottom: 20px; /* 下に余白を追加 */
    }
}







#teamSchedule {
    margin-bottom: 0px;
}



.button-container2 {
    display: flex;
    justify-content: space-between;
    padding: 0 0px; /* ボタンを左右に配置 */
    margin-bottom: 0px;
    color: var(--main-color-1); /* セルの文字色を濃い青に */
    font-weight: bold; /* ヘッダーの文字をボールドに設定 */
    text-align: center;
}